.mat-header-cell {
    background-color: black;
    color: white;
  }
  
  /* Change color of table rows if needed */
  .mat-row, .mat-cell {
    background-color: white!important; /* Or any other color */
    color: black; /* Or any other color */
  }
  