mat-form-field {
    width: 100%; /* pleine largeur */
    display: block; /* chaque champ sur une nouvelle ligne */
    margin-bottom: 15px; /* espacement entre les champs */
  }

  mat-checkbox {
    width: 100%; /* pleine largeur */
    display: block; /* chaque champ sur une nouvelle ligne */
    margin-bottom: 15px; /* espacement entre les champs */
  }
  
  /* centrer le formulaire dans la boîte de dialogue  */
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  