


<h1 mat-dialog-title>Créer un nouvel utilisateur</h1>
<div mat-dialog-content>
  <form #userForm="ngForm">
    <mat-form-field >
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput type="text" [(ngModel)]="userData.username" name="username" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Adresse email</mat-label>
      <input matInput type="email" [(ngModel)]="userData.email" name="email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" [(ngModel)]="userData.password" name="password" #password="ngModel" (ngModelChange)="checkPasswords()" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Confirmer le mot de passe</mat-label>
      <input matInput type="password" [(ngModel)]="userData.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" required (ngModelChange)="checkPasswords()">
     
      
      <p *ngIf="passwordMismatch" class="custom-error">Les mots de passe ne correspondent pas</p>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Roles</mat-label>
      <mat-select [(ngModel)]="userData.role" name="roles" multiple required>
        <mat-option *ngFor="let role of availableRoles" [value]="role.value">{{ role.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-error>{{errorMessage}}</mat-error>
</div>



<div mat-dialog-actions>
  <button class="btn btn-danger m-5" [mat-dialog-close]="true">Annuler</button>
  <button class="btn btn-primary" (click)="createUser()">Creer</button>
</div>
