<h1 mat-dialog-title>Modifier le mot de passe</h1>

<mat-dialog-content>
  <form #updatePasswordForm="ngForm" class="password-form">
   

    <mat-form-field appearance="fill">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirmer le nouveau mot de passe</mat-label>
      <input matInput type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required>
    </mat-form-field>
  </form>
  <mat-error>{{errorMessage}}</mat-error>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button class="btn btn-danger mr-2"  (click)="onCancel()">Cancel</button>
  <button class="btn btn-primary"  (click)="onUpdatePassword()" [disabled]="!updatePasswordForm.form.valid">Update Password</button>
</mat-dialog-actions>
