mat-form-field {
    width: 100%; /* Pleine largeur */
    display: block; /* Chaque champ sur une nouvelle ligne */
    margin-bottom: 15px; /* Espacement entre les champs */
  }
  
  /* Centrer le formulaire dans la boite de dialogue */
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }