<h1 mat-dialog-title>Mise à jour des rôles</h1>
<div mat-dialog-content>
  <form #roleForm="ngForm">
    <mat-form-field>
      <mat-label>Rôles</mat-label>
      <mat-select [(ngModel)]="selectedRoles" name="roles" multiple>
        <mat-option *ngFor="let role of availableRoles" [value]="role.value" >
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button class="btn btn-danger m-5"  [mat-dialog-close]="false">Cancel</button>
  <button  class="btn btn-primary"  [mat-dialog-close]="selectedRoles" (click)="updateRoles()">Mettre à jour les rôles</button>
</div>
