/* Changer la couleur de l'en-tête du tableau */
.mat-header-cell {
    background-color: black;
    color: white;
  }
  
  /* Changer la couleur des lignes du tableau si nécessaire */
  .mat-row, .mat-cell {
    background-color: white!important; /* Ou une autre couleur */
    color: black; /* Ou une autre couleur */
  }
  